fastapi
uvicorn
sqlalchemy
pydantic
pytest
httpx
requests
locust
jinja2
python-multipart
selenium

# sanitizer
bleach

# Dev / test helpers
pytest-cov
pytest-asyncio
pytest-mock
black
flake8
python-dotenv
